RewriteEngine on


RewriteRule ^panel$ panel.php [NC]
RewriteRule ^panel/(.*)$ panel.php?action=$1 [NC]


RewriteRule ^(|home|index)$ index.php [NC]
RewriteRule ^logout$ auth.php?action=logout [NC]
RewriteRule ^auth$ auth.php [NC]
RewriteRule ^auth/(.*)$ auth.php?action=$1 [NC]
RewriteRule ^([a-z]+)\/?$ category.php?name=$1 [NC]
RewriteRule ^([a-z_-]+)\/?$ news.php?name=$1 [NC]
